.right-side {
  display: flex;
  padding: 52px 40px 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  min-height: 55vh;
}

.top {
  width: 100%;
}

.form {
  width: 100%;
  flex-direction: column;
}

.caja {
  width: 100%;
  display: flex;
  justify-content: center;
}

.captchaBox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.checkInput {
  width: 100%;
  display: flex;
  margin-left: 20px;
  gap: 10px;
  padding: 10px 0px;
}

.checkInput p a {
  color: var(--keralty-secondary-blue);
}

.checkInput .checked {
  color: var(--keralty-main-blue);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.checkInput .unChecked {
  font-weight: 400;
  color: var(--keralty-main-blue);
}

.checkInput--checked {
  font-weight: 700;
}

.checkError {
  color: var(--keralty--semantics-error);
  margin: 30px 0 0 15px;
}
/*estilos de dispositivo mobile*/
@media (max-width: 450px) {
  .right-side {
    height: 100%;
  }
  .caja {
    flex-direction: column;
  }

  .checkInput {
    margin-left: 0px;
  }
}
