.inputBox {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 20px;
  width: 50%;
  gap: 10px;
}

label {
  font-family: var(--keralty-proxima-nova-main-font);
  font-size: var(--keralty-small-font);
  color: var(--keralty-main-blue);
}

.mandatory,
.errorInput {
  color: var(--keralty-semantics-error);
}
input,
select {
  font-size: var(--keralty-small-font);
  font-family: var(--keralty-proxima-nova-main-font);
  padding: 8px 20px 8px 10px;
  border: 1px solid var(--keralty-secondary-blue);
  border-radius: 5px;
}

input:focus {
  transition: 500ms;
  border: 1px solid var(--keralty-main-blue);
  outline: none;
}
/*estilos para dispositivo mobile*/
@media (max-width: 450px) {
  .inputBox {
    width: 100%;
    margin: 0px 0px 12px 0px;
  }
}
